Flask==1.0.2
Flask-Injector==0.11.0
flask-cors==3.0.7
connexion[swagger-ui]==2.2.0
alembic==1.0.7
SQLAlchemy==1.2.18
psycopg2-binary==2.7.7
typing==3.6.6
bcrypt==3.1.6
zope.sqlalchemy==1.1
python-dateutil==2.8.0